@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: CocoSharpL;
  src: url(/fonts/CocoSharpL-Regular.otf);
}

@font-face {
  font-family: CocoSharpL;
  src: url(/fonts/CocoSharpL-Bold.otf);
  font-weight: bold;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "CocoSharpL", sans-serif;
}

body {
  font-family: "CocoSharpL", sans-serif;
  @apply bg-dark;
}
